html {
    font-family: "Poppins", sans-serif;
    color: #252930;
    line-height: 1.15;
}

body {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

#app {
    background: #f5f6fe;
    height: 100vh;
}

svg {
    width: 1.5rem;
}

.error {
    color: red;
}
